In [55]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,station,train_name,final_destination_station,arrival_planned_time,arrival_time_delta_in_min,departure_planned_time,departure_time_delta_in_min,planned_platform,changed_platform,stop_canceled,train_type,train_line_ride_id,train_line_station_num
0,Aachen Hbf,RE 18,Aachen Hbf,2024-05-10 00:45:00,6.0,NaN,0.0,1,1,False,RE,-5376151638251295800-2405092354,9
1,Aachen Hbf,RB 33,Aachen Hbf,2024-05-10 00:27:00,0.0,NaN,0.0,2,6,False,RB,3877311608492123870-2405092216,31
2,Aachen Hbf,RE 18,Heerlen,NaN,0.0,2024-05-10 00:17:00,0.0,6,NaN,False,RE,349781417030375472-2405100017,1
3,Aachen Hbf,RE 4,Aachen Hbf,2024-05-10 00:37:00,6.0,NaN,0.0,6,NaN,False,RE,-2351366154733574977-2405092209,24
4,Aachen Hbf,RE 9,Aachen Hbf,2024-05-10 00:41:00,17.0,NaN,0.0,3,9,False,RE,-1701587498056121817-2405092210,20

In [10]:
df[df["train_line_ride_id"] == "-4092447525890775957-2405101632"]

Empty DataFrame
Columns: [station, train_name, final_destination_station, arrival_planned_time, arrival_time_delta_in_min, departure_planned_time, departure_time_delta_in_min, planned_platform, changed_platform, stop_canceled, train_type, train_line_ride_id, train_line_station_num]
Index: []

In [17]:
df[df["stop_canceled"]]

,station,train_name,final_destination_station,arrival_planned_time,arrival_time_delta_in_min,departure_planned_time,departure_time_delta_in_min,planned_platform,changed_platform,stop_canceled,train_type,train_line_ride_id,train_line_station_num
34,Aachen Hbf,RE 18,Aachen Hbf,2024-05-09 11:13:00,0.0,NaN,0.0,6,NaN,True,RE,4962352755938786886-2405091024,9
36,Aachen Hbf,RE 18,Maastricht,NaN,0.0,2024-05-09 11:18:00,0.0,6,NaN,True,RE,2658357207626497699-2405091118,1
37,Aachen Hbf,ICE 15,Frankfurt(Main)Hbf,2024-05-09 11:36:00,0.0,2024-05-09 11:39:00,0.0,9,NaN,True,ICE,-6382331557337532208-2405091025,4
73,Aachen Hbf,RE 18,Aachen Hbf,2024-05-09 13:11:00,0.0,NaN,0.0,1,NaN,True,RE,-8492574220545738621-2405091224,9
75,Aachen Hbf,RE 18,Maastricht,NaN,0.0,2024-05-09 13:17:00,0.0,1,NaN,True,RE,-8943139953645392526-2405091317,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51154,Berlin Potsdamer Platz,RB 14,Berlin Südkreuz,2024-05-10 10:14:00,0.0,2024-05-10 10:15:00,0.0,1,NaN,True,RB,-8749238490785162617-2405100918,10
51160,Berlin Potsdamer Platz,RB 14,Nauen,2024-05-10 10:44:00,0.0,2024-05-10 10:45:00,0.0,4,NaN,True,RB,-5959326608899247847-2405101041,2
51186,Berlin Hbf,ICE 790,Berlin Ostbahnhof,2024-05-10 00:42:00,0.0,2024-05-10 00:46:00,0.0,11,NaN,True,ICE,-1471970827419989717-2405092206,7
51247,Berlin Hbf,ICE 1052,Aachen Hbf,2024-05-10 07:04:00,0.0,2024-05-10 07:07:00,0.0,13,NaN,True,ICE,976167701011077299-2405100656,2
51315,Berlin Hbf,IC 146,Amsterdam Centraal,2024-05-10 10:03:00,0.0,2024-05-10 10:06:00,0.0,14,NaN,True,IC,7485471744845804129-2405100953,2

In [21]:
df_local = df[df["train_type"].isin(["RE", "RB"])]
train_in_dortmund = df_local[df_local["station"] == "Dortmund Hbf"]
train_in_duesseldorf = df_local[df_local["station"] == "Düsseldorf Hbf"]

# Merge/join the two DataFrames on 'train_line_id' to compare 'train_line_station_num'
merged_df = train_in_duesseldorf.merge(
    train_in_dortmund[['train_line_ride_id', 'train_line_station_num']],
    on='train_line_ride_id',
    suffixes=('_duesseldorf', '_dortmund')
)

# Filter the merged DataFrame based on the comparison of 'train_line_station_num'
filtered_df = merged_df[merged_df['train_line_station_num_duesseldorf'] > merged_df['train_line_station_num_dortmund']]

mean_arrival_time_delta = filtered_df.groupby("train_name")["arrival_time_delta_in_min"].median()
mean_arrival_time_delta.reset_index()

  train_name  arrival_time_delta_in_min
0       RE 1                        9.5
1       RE 3                        0.0
2       RE 4                        2.0
3       RE 6                       17.0