In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,station,train_name,final_destination_station,arrival_planned_time,arrival_time_delta_in_min,departure_planned_time,departure_time_delta_in_min,planned_platform,changed_platform,is_canceled,train_type,train_line_ride_id,train_line_station_num
0,Aachen Hbf,RE 18,Aachen Hbf,2024-05-10 00:45:00,6.0,NaN,0.0,1,1,False,RE,-5376151638251295800-2405092354,9
1,Aachen Hbf,RB 33,Aachen Hbf,2024-05-10 00:27:00,0.0,NaN,0.0,2,6,False,RB,3877311608492123870-2405092216,31
2,Aachen Hbf,RE 18,Heerlen,NaN,0.0,2024-05-10 00:17:00,0.0,6,NaN,False,RE,349781417030375472-2405100017,1
3,Aachen Hbf,RE 4,Aachen Hbf,2024-05-10 00:37:00,6.0,NaN,0.0,6,NaN,False,RE,-2351366154733574977-2405092209,24
4,Aachen Hbf,RE 9,Aachen Hbf,2024-05-10 00:41:00,17.0,NaN,0.0,3,9,False,RE,-1701587498056121817-2405092210,20

In [2]:
df["train_type"].unique()
#df[df["train_line_ride_id"] == "-4092447525890775957-2405101632"]

array(['RE', 'RB', 'Bus', 'S', 'ICE', 'EST', 'FLX', 'HLB', 'IC', 'BRB',
       'NJ', 'EN', 'D', 'TGV', 'EC', 'NBE', 'ag', 'NWB', 'WFB', 'MEX',
       'VIA', 'ENO', 'erx', 'ME', 'SBB', 'IRE', 'SWE', 'RRB', 'RJX',
       'STN', 'ECE', 'N', 'SAB', 'ALX', 'UEX', 'WB', 'RJ', 'AKN', 'OPB',
       'R', 'RT', 'TL', 'TLX', 'CB', 'HBX', 'FEX', 'EVB', 'SVG', 'ES',
       'DBK', 'TRI', 'TEL'], dtype=object)

In [2]:
df["train_type"].unique()
#df[df["train_line_ride_id"] == "-4092447525890775957-2405101632"]

array(['RE', 'RB', 'Bus', 'S', 'ICE', 'EST', 'FLX', 'HLB', 'IC', 'BRB',
       'NJ', 'EN', 'D', 'TGV', 'EC', 'NBE', 'ag', 'NWB', 'WFB', 'MEX',
       'VIA', 'ENO', 'erx', 'ME', 'SBB', 'IRE', 'SWE', 'RRB', 'RJX',
       'STN', 'ECE', 'N', 'SAB', 'ALX', 'UEX', 'WB', 'RJ', 'AKN', 'OPB',
       'R', 'RT', 'TL', 'TLX', 'CB', 'HBX', 'FEX', 'EVB', 'SVG', 'ES',
       'DBK', 'TRI', 'TEL'], dtype=object)

In [3]:
df[df["is_canceled"]]

,station,train_name,final_destination_station,arrival_planned_time,arrival_time_delta_in_min,departure_planned_time,departure_time_delta_in_min,planned_platform,changed_platform,is_canceled,train_type,train_line_ride_id,train_line_station_num
32,Aachen Hbf,RE 1,Aachen Hbf,2024-05-10 06:07:00,60.0,NaN,0.0,6,NaN,True,RE,-5761135966346571235-2405100317,26
34,Aachen Hbf,RE 18,Maastricht,NaN,0.0,2024-05-10 06:47:00,60.0,6,NaN,True,RE,-4348862465179019592-2405100647,1
42,Aachen Hbf,RE 1,Düsseldorf Hbf,NaN,0.0,2024-05-10 06:27:00,60.0,6,NaN,True,RE,9066332022854764768-2405100627,1
45,Aachen Hbf,RE 18,Aachen Hbf,2024-05-10 06:42:00,60.0,NaN,0.0,6,NaN,True,RE,3822791383832586566-2405100554,9
73,Aachen Hbf,RE 18,Maastricht,NaN,0.0,2024-05-10 08:17:00,60.0,6,NaN,True,RE,-5499553316182639365-2405100817,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540465,Flughafen BER,RE 8,Wittenberge,NaN,0.0,2024-05-21 11:44:00,60.0,2,NaN,True,RE,-4129528892956638430-2405211144,1
540472,Flughafen BER,RE 8,Flughafen BER,2024-05-21 11:15:00,60.0,NaN,0.0,2,NaN,True,RE,-8233461540627145719-2405210733,31
540491,Flughafen BER,RE 8,Flughafen BER,2024-05-21 12:15:00,60.0,NaN,0.0,2,NaN,True,RE,8244313656485836632-2405211006,17
540727,Berlin Friedrichstraße,RE 7,Bad Belzig,2024-05-21 09:49:00,60.0,2024-05-21 09:50:00,60.0,4,NaN,True,RE,-3609416722123961224-2405210937,4
540901,Potsdam Hbf,IC 2432,Norddeich Mole,2024-05-21 07:57:00,120.0,2024-05-21 07:59:00,120.0,1,NaN,True,IC,-7418975919136076672-2405210601,9

In [4]:
df_local = df[df["train_type"].isin(["RE", "RB"])]
train_in_dortmund = df_local[df_local["station"] == "Dortmund Hbf"]
train_in_duesseldorf = df_local[df_local["station"] == "Düsseldorf Hbf"]

# Merge/join the two DataFrames on 'train_line_id' to compare 'train_line_station_num'
merged_df = train_in_duesseldorf.merge(
    train_in_dortmund[['train_line_ride_id', 'train_line_station_num']],
    on='train_line_ride_id',
    suffixes=('_duesseldorf', '_dortmund')
)

# Filter the merged DataFrame based on the comparison of 'train_line_station_num'
filtered_df = merged_df[merged_df['train_line_station_num_duesseldorf'] > merged_df['train_line_station_num_dortmund']]

mean_arrival_time_delta = filtered_df.groupby("train_name")["arrival_time_delta_in_min"].median()
mean_arrival_time_delta.reset_index()

  train_name  arrival_time_delta_in_min
0       RE 1                        2.0
1      RE 11                        5.0
2       RE 3                        5.0
3       RE 4                        3.0
4       RE 6                        2.5

  train_name  arrival_time_delta_in_min
0       RE 1                        3.0
1      RE 11                       34.5
2       RE 3                        4.0
3       RE 4                        4.0
4       RE 6                        4.0